<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="5" />
    <title>Services Monitor</title>
    <style type="text/css">
        div {
            margin: 30px auto 20px auto;
            padding: 20px;
            border-top: 1px dashed;
        }

        h2 {
            margin: 0 0 10px 0;
        }

        table {
            border: 1px solid;
            border-collapse: collapse;
        }

        th {
            font-weight: bold;
            background-color: #dcdcdc;
        }
        th, td {
            border: 1px solid;
            padding: 2px 20px;
        }
    </style>
</head>
<body>
<div th:each="service : ${services}">
    <h2 style="color:#b22222" th:text="${service.name}">ServiceName</h2>
    <table>
        <tr>
            <th>Node Name</th>
            <th>Service URL</th>
            <th>Node Path</th>
            <th>Created Time</th>
        </tr>
        <tr th:each="inst : ${service.children}">
            <td th:text="${inst.name}">ServiceNodeName</td>
            <td th:text="${inst.address}">ServiceNodeValue</td>
            <td th:text="${inst.nodePath}">ServiceNodePath</td>
            <td th:text="${#dates.format(inst.ctime, 'yyyy/MM/dd HH:mm')}">ServiceNodeCreateTime</td>
        </tr>
    </table>
</div>
</body>
</html>